<MudGrid>
    <MudItem xs="12">
        <div id="andamentoplot"></div>
    </MudItem>
    <MudItem xs="12">
        <div id="andamentodiffplot"></div>
    </MudItem>
    <MudItem xs="12">
        <div id="andamentoeffettivo"></div>
    </MudItem>
</MudGrid>
    
    